.dialogs {
    display: grid;
    grid-template-columns: 2fr 3fr;
    color: white;
}

.dialogs a {
    text-decoration: none;
    color: white;
}

.dialog_item .active {
    padding: 10px;
}

.messages .message {
    padding: 10px;
}

.message {
    padding: 10px;
}
