.my_posts {
    margin-left: 135px;
}

.text {
    margin-left: 89px;
}

.button {
    margin-left: 135px;
}

.textarea {
    border-radius: 5px;
    border: none;
}

.but {
    border-radius: 15px;
    border: none;
}

.but:hover {
    opacity: 0.5;
}