.app_wrapper {
  margin: auto;
  display: grid;
  width: 1300px;
  grid-template-areas:
  'h h'
  'n c';
  grid-template-rows: 90px 1fr;
  grid-template-columns: 0fr 10fr;
  grid-gap: 5px;
}

.app_wrapper_content {
  grid-area: c;
  grid-template-rows: 90px 1fr;
  grid-template-columns: 3fr 10fr;
  background-color: rgb(188, 185, 190);
  padding: 10px;
  border-radius: 15px;
  background: gradient( #343a40, #6c757d);
}